*,
*::before,
*::after {
  box-sizing: border-box;
}

*:active,
*:focus {
  outline: 0;
}

body {
  background: url(/static//media/background_clear_front.be294cac.png) #000 no-repeat 50% 50%;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  font-family: 'Russo One', sans-serif;
  position: relative;
  font-size: 14px;
}

@media (min-width: 1050px) {
  body {
    font-size: 16px;
  }
}

body:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
  background: linear-gradient(black 0%, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.6) 40%, transparent 100%);
  z-index: 1;
}

body:after {
  content: "";
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.7) 80%, black 100%);
  z-index: 1;
}

@media (min-width: 768px) {
  body:after {
    display: none;
  }
}

blockquote,
q {
  quotes: none;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

caption {
  text-align: left;
}

em {
  font-style: normal;
}

input {
  background: transparent;
  border: 0;
  margin: 0;
}

input[type="text"]::-ms-clear {
  display: none;
}

input[disabled] {
  opacity: 1;
}

input:invalid {
  outline: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  margin: 0;
  padding: 0;
  text-size-adjust: none;
}

img {
  border: 0;
}

main {
  display: block;
}

mark {
  background: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

strong,
b {
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  background: transparent;
  border: 0;
  resize: none;
}

td,
th {
  text-align: left;
  vertical-align: top;
}

th {
  font-weight: normal;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.header {
  position: fixed;
  top: 0;
  height: 87px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.header_container {
  max-width: 1366px;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 20px;
  position: absolute;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.header_column {
  flex: 1 auto;
}

.header_column__left {
  text-align: left;
}

.header_column__right {
  text-align: right;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}

.overlay.is-open {
  display: block;
}

.overlay-position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: table;
  max-width: 100%;
}

.overlay-content_title {
  margin-bottom: 40px;
}

.overlay-content_button-section {
  text-align: center;
}

.hero {
  position: fixed;
  padding: 10px;
  height: 215px;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  z-index: 10;
}

.hero_text {
  width: 60%;
  color: #fff;
  font-size: 15px;
  margin-top: -6px;
}

.hero_button {
  text-align: right;
}

.hero-stats {
  width: 40%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.hero-stats_image {
  width: 50%;
}

.hero-stats_description {
  width: 50%;
  box-sizing: border-box;
  padding-left: 40px;
}

.hero-stats_radio {
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.hero-stats_skill {
  position: relative;
  max-width: 100%;
  height: 20px;
  background-color: #fff;
  margin-bottom: 10px;
}

.hero-stats_skill:after {
  content: '';
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.hero-stats_skill__skill:after {
  background-image: url(/static//img/small-cap.png);
}

.hero-stats_skill__chain:after {
  background-image: url(/static//img/small-chain.png);
}

.hero-stats_skill__lazer:after {
  background-image: url(/static//img/small-lazer.png);
}

.hero-stats_skill__fireball:after {
  background-image: url(/static//img/small-fireball.png);
}

.hero-stats_skill__cup:after {
  background-image: url(/static//img/small-cup.png);
}

.hero-stats_skill__health:after {
  background-image: url(/static//img/small-health.png);
}

.logotype {
  height: 47px;
}

.choose-general {
  padding-top: 90px;
  vertical-align: baseline;
  line-height: 20px;
  color: #fff;
  position: relative;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
}

.choose:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.choose_title {
  width: 100%;
  text-align: center;
  font-size: 35px;
  line-height: 40px;
  color: #fff;
  padding: 30px 0;
}

.choose_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 20px;
}

.choose_card {
  position: relative;
  width: 28%;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  color: #fff;
}

.choose_image {
  max-width: 100%;
}

.choose_history {
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  text-overflow: ellipsis;
  max-height: 100%;
  font-size: 15px;
}

.choose_description {
  padding-top: 15px;
}

.choose_item {
  font-size: 15px;
}

.choose_item:not(:first-child) {
  padding-top: 10px;
}

.choose_accept {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid #fff;
  line-height: 18px;
  padding: 11px 28px;
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color .15s ease-out,color .15s ease-out;
}

.choose_accept:hover {
  color: #474747;
  background-color: #f9f5e1;
}

.choose_late {
  font-size: 16px;
  font-weight: bold;
}

@media screen and (min-width: 720px) {
  .choose_card-race {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    align-self: center;
    align-items: center;
    position: absolute;
    padding: 25px 25px 70px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #fff;
    z-index: 1;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.75);
    cursor: default;
    font-size: 14px;
  }

  .choose_accept-container {
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: center;
    height: 44px;
    right: 0;
  }

  .choose_card:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(28, 28, 30, 0.8);
  }

  .choose_card:hover .choose_card-race {
    visibility: visible;
    opacity: 1;
  }
}

@media screen and (max-width: 720px) {
  .choose_container {
    flex-direction: column;
  }

  .choose_image {
    max-width: 50%;
  }

  .choose_card {
    width: 100%;
  }

  .choose_card {
    padding-bottom: 30px;
    border-radius: 0;
  }

  .choose_card:after {
    content: '';
    border-bottom: 1px solid #2a2a2a;
    position: absolute;
    height: 1px;
    left: 10px;
    bottom: 5px;
    right: 20px;
  }

  .choose_accept-container,
  .choose_image-container {
    text-align: center;
  }

  .choose_accept-container {
    padding-top: 10px;
  }

  .choose_history {
    overflow: hidden;
  }
}

@media screen and (max-width: 400px) {
  .choose_history {
    display: none;
  }

  .choose_image {
    max-width: 90%;
  }
}

#battle {
  display: block;
  position: relative;
  height: 100%;
  padding-top: 95px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.game {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.game::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/static//media/people.b9da5e14.png) no-repeat;
  background-position: 0 100%;
  background-size: 100%;
  z-index: 0;
}

.game_action-block {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.game_user-area__right .game_action-block {
  left: auto;
  right: 0;
}

.game_user-area,
.game_user-actions-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  position: relative;
  width: 33%;
}

.game_user-area__left {
  align-items: flex-start;
}

.game_user-area__right {
  align-items: flex-end;
}

.game_user-info {
  position: relative;
  width: calc(100% - 35px);
  color: #fff;
  font-weight: bold;
  margin-bottom: 40px;
  overflow: hidden;
}

.game_user-area__right .game_user-info {
  text-align: right;
}

.hp-bar {
  background: #ccc;
  height: 25px;
  width: 100%;
}

.hp-bar_fill {
  background: #cc0000;
  float: left;
  height: 100%;
  width: 70%;
}

.game_user-area__left .game_user-info {
  left: 35px;
}

.game_user-area__right .game_user-info {
  right: 35px;
}

.game_user-area__right .hp-bar_fill {
  float: right;
}

.game_user-history {
  width: 35px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.game_user-area__right .game_user-history {
  left: auto;
  right: 0;
}

.game_user-history-item {
  height: 35px;
  width: 35px;
  margin-bottom: 15px;
  background-size: cover;
}

.game_timer {
  font-size: 50px;
  text-align: center;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  top: 137px;
  width: 200px;
  color: #fff;
}

.game_user-actions-wrapper {
  padding: 0 20px;
  z-index: 10;
}

.game_user-actions-wrapper2 {
  display: block;
  position: relative;
  height: 100%;
}

.game_user-actions-border {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 156px;
  height: 156px;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px #464646 solid;
}

.game_user-actions {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  border: 9px #4790ff solid;
}

.item {
  position: absolute;
  width: 75px;
  height: 75px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: .2s;
}

.item:hover {
  transform: scale(1.1);
}

.item1 {
  top: -41px;
  left: 26px;
}

.item2 {
  bottom: -17px;
  left: -34px;
}

.item3 {
  right: -34px;
  bottom: -17px;
}

.game_user_qwest {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 75px;
  height: 75px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.content {
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  background: #cc0000;
  margin-left: -8px;
  margin-top: -8px;
}

.content {
  position: absolute;
}

.content a {
  width: 60px;
  height: 60px;
  line-height: 60px;
  display: block;
  position: absolute;
  text-decoration: none;
  font-family: 'Segoe UI', Arial, Verdana, sans-serif;
  font-size: 20px;
  color: #fff;
}

.item1 .content a {
  transform: rotate(-45deg);
}

.item2 .content a {
  transform: rotate(-165deg);
}

.item3 .content a {
  transform: rotate(-285deg);
}

.game_user-skills {
  position: absolute;
  top: -75px;
  width: calc(100% - 35px);
}

.game_user-skill {
  max-width: 100%;
  height: 15px;
  margin-bottom: 10px;
}

.game_user-skill_line {
  width: 100%;
  height: 15px;
  padding-left: 25px;
  background-size: contain;
  background-position: 0 50%;
  font-size: 10px;
  background-repeat: no-repeat;
}

.game_user-area__left .game_user-skills {
  left: 35px;
}

.game_user-area__right .game_user-skills {
  right: 35px;
}

.game_pers {
  position: relative;
}

.game_user-area__left .game_pers {
  margin-left: 40px;
}

.game_user-area__right .game_pers {
  float: right;
  margin-right: 40px;
}

.game_pers img {
  width: 100%;
}

.main-menu {
  position: fixed;
  z-index: 1000;
  width: 100%;
  font-family: 'Russo One', sans-serif;
}

.main-menu__open {
  max-height: 100%;
  overflow-y: auto;
}

.main-menu_list {
  height: 100%;
  position: relative;
  display: none;
  padding: 90px 0 20px;
  background-color: #000;
}

.main-menu_list:after {
  content: "";
  display: block;
  clear: both;
}

@media (min-width: 480px) {
  .main-menu_list {
    padding: 120px 0 20px;
  }
}

.main-menu_list__open {
  display: block;
}

@media (min-width: 1050px) {
  .main-menu_list {
    display: block;
    padding: 30px 250px 0 150px;
    background-color: transparent;
    min-height: 120px;
  }

@supports (display: flex) {
    .main-menu_list {
      display: flex;
      flex-wrap: nowrap;
    }
}
}

.main-menu_item {
  text-align: center;
}

@media (min-width: 768px) {
  .main-menu_item {
    text-align: center;
    display: block;
    float: left;
    width: 25%;
  }

  .main-menu_item:nth-child(2) {
    width: 20%;
  }

  .main-menu_item:nth-child(3) {
    width: 35%;
  }

  .main-menu_item:last-child(3) {
    width: 20%;
  }
}

.main-menu_link,
.main-menu_link:focus,
.main-menu_link:visited {
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 22px;
  line-height: 1;
  color: #fff;
  transition: all .3s;
  padding: 10px 20px;
}

@media (min-width: 768px) {
  .main-menu_link,
  .main-menu_link:focus,
  .main-menu_link:visited {
    padding: 20px;
  }
}

.main-menu_link:active,
.main-menu_link:hover,
.main-menu_link.active {
  color: #ff5500;
  text-decoration: none;
  transition: all .3s;
}

.button-toggle {
  padding: 0;
  margin: 0;
  width: 24px;
  height: 22px;
  display: block;
  position: absolute;
  top: 33px;
  left: 20px;
  border: 0;
  background: transparent;
  transition: all .3s;
  cursor: pointer;
  z-index: 1001;
}

.button-toggle,
.button-toggle:hover,
.button-toggle:focus {
  outline: none;
}

@media (min-width: 480px) {
  .button-toggle {
    left: 40px;
    top: 40px;
  }
}

@media (min-width: 1050px) {
  .button-toggle {
    display: none;
  }
}

.button-toggle.button-toggle__active {
  position: absolute;
}

.button-toggle_line {
  display: block;
  position: absolute;
  background: #fff;
  height: 4px;
  width: 24px;
}

.button-toggle_line:first-child {
  top: 0;
  transform-origin: 24px 2px;
}

.button-toggle_line:nth-child(2) {
  top: 9px;
}

.button-toggle_line:last-child {
  top: 18px;
  transform-origin: 24px 1px;
}

.button-toggle_line:first-child {
  animation: line-top-in 600ms linear normal;
  animation-fill-mode: forwards;
}

.button-toggle_line:nth-child(2) {
  transition: opacity 200ms linear;
  transition-delay: 200ms;
}

.button-toggle_line:last-child {
  animation: line-bot-in 600ms linear normal;
  animation-fill-mode: forwards;
}

.button-toggle__active .button-toggle_line {
  background: #fff;
}

@media (min-width: 768px) {
  .button-toggle__active .button-toggle_line {
    background: #fff;
  }
}

.button-toggle__active .button-toggle_line:first-child {
  animation: line-top-out 600ms linear normal;
  animation-fill-mode: forwards;
}

.button-toggle__active .button-toggle_line:nth-child(2) {
  opacity: 0;
}

.button-toggle__active .button-toggle_line:last-child {
  animation: line-bot-out 600ms linear normal;
  animation-fill-mode: forwards;
}

.main-logo {
  position: fixed;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  width: 50px;
}

.main-logo img {
  max-width: 100%;
}

@media (min-width: 480px) {
  .main-logo {
    width: 80px;
  }
}

@media (min-width: 1050px) {
  .main-logo {
    left: 40px;
    width: auto;
    transform: none;
  }
}

@keyframes line-top-in {
  0% {
    left: -5px;
    top: 0;
    transform: rotate(-45deg);
  }

  20% {
    left: -5px;
    top: 0;
    transform: rotate(-60deg);
  }

  80% {
    left: 0;
    top: 0;
    transform: rotate(15deg);
  }

  100% {
    left: 0;
    top: 1px;
    transform: rotate(0deg);
  }
}

@keyframes line-top-out {
  0% {
    left: 0;
    top: 0;
    transform: rotate(0deg);
  }

  20% {
    left: 0;
    top: 0;
    transform: rotate(15deg);
  }

  80% {
    left: -5px;
    top: 0;
    transform: rotate(-60deg);
  }

  100% {
    left: -5px;
    top: 1px;
    transform: rotate(-45deg);
  }
}

@keyframes line-bot-in {
  0% {
    left: -5px;
    transform: rotate(45deg);
  }

  20% {
    left: -5px;
    bot: 0;
    transform: rotate(60deg);
  }

  80% {
    left: 0;
    bot: 0;
    transform: rotate(-15deg);
  }

  100% {
    left: 0;
    transform: rotate(0deg);
  }
}

@keyframes line-bot-out {
  0% {
    left: 0;
    transform: rotate(0deg);
  }

  20% {
    left: 0;
    transform: rotate(-15deg);
  }

  80% {
    left: -5px;
    transform: rotate(60deg);
  }

  100% {
    left: -5px;
    transform: rotate(45deg);
  }
}

.fp-section {
  font-family: 'Russo One', sans-serif;
}

.fp-section h2,
.fp-section h3,
.fp-section p {
  font-family: 'Russo One', sans-serif;
  color: #fff;
}

.tabs-race {
  font-family: 'Russo One', sans-serif;
}

.tabs-race_nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs-race_nav-link {
  flex: 1;
  padding: 12px 0;
  font-size: 16px;
  color: #fff;
  text-align: center;
  transition: color 0.3s;
  text-decoration: none;
}

@media (min-width: 768px) {
  .tabs-race_nav-link {
    margin-right: 4px;
    padding: 12px;
    font-size: 18px;
  }
}

.tabs-race_nav-link:last-child {
  margin-right: 0;
}

.tabs-race_nav-link:hover {
  text-decoration: none;
}

.tabs-race_nav-link__fox:hover,
.tabs-race_nav-link__fox.is-active {
  color: #d55203;
}

.tabs-race_nav-link__robot:hover,
.tabs-race_nav-link__robot.is-active {
  color: #7a8c9a;
}

.tabs-race_nav-link__cat:hover,
.tabs-race_nav-link__cat.is-active {
  color: #9cff9c;
}

.tabs-race_tab {
  display: none;
  min-height: 350px;
}

.tabs-race_tab.is-active {
  display: block;
}

.tabs-race_tab-content {
  padding: 10px;
  display: flex;
  align-items: flex-start;
  min-height: 450px;
}

@media (min-width: 768px) {
  .tabs-race_tab-content {
    align-items: center;
  }
}

.tabs-race_tab-content-image {
  width: 25%;
  padding-right: 20px;
}

.tabs-race_tab-content-image img {
  max-width: 100%;
}

.tabs-race_tab-content-text {
  flex: 1;
}

.tabs-skill {
  font-family: 'Russo One', sans-serif;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  min-height: 210px;
}

@media (min-width: 768px) {
  .tabs-skill {
    left: auto;
    max-width: 600px;
  }
}

.tabs-skill_nav {
  order: 2;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 180px;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 768px) {
  .tabs-skill_nav {
    transform: none;
    flex-direction: column;
    width: 60px;
    height: 210px;
    position: absolute;
    left: auto;
    right: 0;
    bottom: 0;
  }
}

.tabs-skill_nav-link {
  flex: 1;
  margin-right: 4px;
  padding: 0;
  color: #fff;
  background-color: transparent;
  text-align: center;
  transition: color 0.3s;
  height: 70px;
  width: 60px;
}

.tabs-skill_nav-link:hover {
  color: #6d6d6d;
}

.tabs-skill_nav-link.is-active {
  color: #dc446e;
}

.tabs-skill_nav-link img {
  max-width: 100%;
}

.tabs-skill_tab {
  display: none;
  min-height: 210px;
  background-color: #e7e7e7;
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .tabs-skill_tab {
    padding-bottom: 0;
    padding-right: 60px;
  }
}

.tabs-skill_tab.is-active {
  display: block;
}

.tabs-skill_tab__laser.is-active {
  background-color: #4790ff;
}

.tabs-skill_tab__rain.is-active {
  background-color: #ff5500;
}

.tabs-skill_tab__net.is-active {
  background-color: #00ff8a;
}

.tabs-skill_tab-content {
  padding: 15px;
}

.tabs-skill_tab-content h3 {
  margin-bottom: 15px;
  font-family: 'Russo One', sans-serif;
}

.tabs-skill_tab-content p {
  color: #000;
}

.fp-section_content {
  color: #fff;
  padding: 120px 15px 0;
}

@media (min-width: 768px) {
  .fp-section_content {
    padding: 120px 50px 20px;
  }
}

@media (min-width: 1050px) {
  .fp-section_content {
    padding: 120px 100px 20px;
  }
}

.button-go-to-play {
  position: fixed;
  z-index: 1000;
  right: 10px;
  top: 30px;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #292b76;
  line-height: 18px;
  padding: 6px 10px;
  background-color: #c22428;
  text-decoration: none;
  transition: background-color .15s ease-out, color .15s ease-out, border-color .15s ease-out;
}

@media (min-width: 480px) {
  .button-go-to-play {
    top: 36px;
    padding: 8px 20px;
  }
}

@media (min-width: 768px) {
  .button-go-to-play {
    padding: 16px 60px;
    margin-right: 50px;
  }
}

.button-go-to-play:hover {
  border-color: #fff;
  color: #fff;
  text-decoration: none;
}

.anchor-to-about {
  display: none;
  position: absolute;
  z-index: 1000;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  padding: 5px 0 10px;
  transition: all .3s;
  font-family: 'Russo One', sans-serif;
  text-decoration: underline;
}

.anchor-to-about:hover {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 1050px) {
  .anchor-to-about {
    display: inline-block;
  }
}

.fp-viewing-section-5 .anchor-to-about {
  visibility: hidden;
}

.legal-info-grid {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.legal-info-grid_col {
  width: 50%;
  padding: 10px 10px 20px;
}

@media (min-width: 768px) {
  .legal-info-grid_col {
    width: 33.3333%;
  }
}

@media (min-width: 1050px) {
  .legal-info-grid_col {
    width: 16.66666%;
    flex-wrap: nowrap;
  }
}

.legal-info p {
  font-size: 14px;
  margin-bottom: 5px;
}

.legal-info_title {
  font-size: 18px;
  margin-bottom: 8px;
}

.legal-info_center {
  text-align: center;
}

.legal-info_team-list {
  font-size: 11px;
}

.legal-info_team-heading {
  margin-top: 15px;
}

.game-rules {
  font-size: 14px;
}

.fp-section__1 {
  background: url(/static//media/main-page-front-bg.83cc4d06.png) no-repeat 50% 100%;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  text-align: center;
}

.fp-section__5 {
  padding-bottom: 80px;
}

@media (min-width: 768px) {
  .fp-section__5 {
    padding-bottom: 0;
  }
}

.front-page-title {
  color: #00fadf;
  font-size: 30px;
  line-height: 1.2;
  margin-top: 120px;
  font-family: 'Russo One', sans-serif;
}

@media (min-width: 768px) {
  .front-page-title {
    font-size: 50px;
    margin-top: 50px;
  }
}

h1,
h2 {
  font-family: 'Russo One', sans-serif;
}

.button-go-to-play-front {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  background: url(/static//media/button-go-to-play-front.21bb705a.png) 50% 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  width: 170px;
  height: 60px;
  margin-top: 60px;
}

@media (min-width: 768px) {
  .button-go-to-play-front {
    width: 227px;
    height: 80px;
  }
}

.button-go-to-play-front:hover {
  text-decoration: none;
}

.front-news {
  overflow: hidden;
  width: 100%;
  min-height: 350px;
  position: relative;
}

.front-news_item-header {
  cursor: pointer;
  border-bottom: 1px solid grey;
  padding: 10px 0;
  width: 100%;
}

@media (min-width: 1050px) {
  .front-news_item-header {
    max-width: 25%;
  }
}

@media (min-width: 1050px) {
  .front-news_item:last-child .front-news_item-header {
    border-bottom: 0;
  }
}

.front-news_item-title {
  font-weight: bold;
  display: block;
}

.front-news_item.active .front-news_item-title {
  color: #ff5500;
}

.front-news_item-date {
  display: block;
  text-transform: uppercase;
  margin: 5px 0 0;
  opacity: 0.7;
  font-size: 0.8rem;
}

.front-news_article {
  display: none;
  padding: 10px 0 20px;
}

@media (min-width: 1050px) {
  .front-news_article {
    position: absolute;
    right: 0;
    top: 0;
    left: 25%;
    padding: 10px 0 20px 30px;
  }
}

.front-news_item.active .front-news_article {
  display: block;
}

.front-news_article p {
  margin-bottom: 8px;
}

.front-news_article a {
  color: #fff;
}

.front-news_article a:hover {
  text-decoration: none;
}

.lu-page {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.lu-page img {
  max-width: 100%;
}

.lu-page_col {
  width: 50%;
}

.lu-row {
  display: flex;
}

.lu-row_col {
  padding: 0 10px;
}

.lu-row_col__fluid {
  flex: 1;
}

.lu-row_col__skills-image {
  width: 200px;
}

.button-play {
  float: right;
  margin-right: 50px;
  margin-top: 50px;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid #fff;
  line-height: 18px;
  padding: 11px 28px;
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color .15s ease-out,color .15s ease-out;
}

.button-play:hover {
  color: #474747;
  background-color: #f9f5e1;
}

.leaderboard {
  padding: 100px 0 50px;
}

.leaderboard_title {
  text-align: center;
  font-size: 48px;
  color: #fff;
}

.leaderboard_small {
  text-align: center;
  color: #ffc600;
  font-size: 18px;
}

.leaderboard_table {
  margin: 50px auto 0;
  background: rgba(255, 255, 255, 0.9);
}

.leaderboard_table td {
  padding: 5px;
}

.leaderboard_table th {
  padding: 5px;
}