
#battle {
  display: block;
  position: relative;
  height: 100%;
  padding-top: 95px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.game {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.game::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(./people.png) no-repeat;
  background-position: 0 100%;
  background-size: 100%;
  z-index: 0;
}

.game_action-block {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.game_user-area__right .game_action-block{
  left: auto;
  right: 0;
}

.game_user-area,
.game_user-actions-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  position: relative;
  width: 33%;
}

.game_user-area__left {
  align-items: flex-start;
}

.game_user-area__right {
  align-items: flex-end;
}

.game_user-info {
  position: relative;
  width: calc(100% - 35px);
  color: #fff;
  font-weight: bold;
  margin-bottom: 40px;
  overflow: hidden;
}

.game_user-area__right .game_user-info {
  text-align: right;
}

.hp-bar {
  background: #ccc;
  height: 25px;
  width: 100%;
}

.hp-bar_fill {
  background: #cc0000;
  float: left;
  height: 100%;
  width: 70%;
}

.game_user-area__left .game_user-info {
  left: 35px;
}

.game_user-area__right .game_user-info {
  right: 35px;
}

.game_user-area__right .hp-bar_fill {
  float: right;
}

.game_user-history {
  width: 35px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.game_user-area__right .game_user-history{
  left: auto;
  right: 0;
}

.game_user-history-item {
  height: 35px;
  width: 35px;
  margin-bottom: 15px;
  background-size: cover;
}

.game_timer {
  font-size: 50px;
  text-align: center;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  top: 137px;
  width: 200px;
  color: #fff;
}

.game_user-actions-wrapper {
  padding: 0 20px;
  z-index: 10;
}

.game_user-actions-wrapper2 {
  display: block;
      position: relative;
      height: 100%;
}

.game_user-actions-border {
  position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  width: 156px;
  height: 156px;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px #464646 solid;
}

.game_user-actions {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  border: 9px #4790ff solid;
}

.item {
  position: absolute;
  width: 75px;
  height: 75px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: .2s;
}

.item:hover {
  transform: scale(1.1);
}

.item1 {
  top: -41px;
  left: 26px;
}
.item2 {
  bottom: -17px;
  left: -34px;
}
.item3 {
  right: -34px;
  bottom: -17px;
}

.game_user_qwest {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 75px;
  height: 75px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.content {
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  background: #cc0000;
  margin-left: -8px;
  margin-top: -8px;
}
.content {
  position: absolute;
}
.content a {
  width: 60px;
  height: 60px;
  line-height: 60px;
  display: block;
  position: absolute;
  text-decoration: none;
  font-family: 'Segoe UI', Arial, Verdana, sans-serif;
  font-size: 20px;
  color: #fff;
}
.item1 .content a {
  transform: rotate(-45deg);
}
.item2 .content a {
  transform: rotate(-165deg);
}
.item3 .content a {
  transform: rotate(-285deg);
}

.game_user-skills {
  position: absolute;
  top: -75px;
  width: calc(100% - 35px);
}

.game_user-skill {
  max-width: 100%;
  height: 15px;
  margin-bottom: 10px;
}

.game_user-skill_line {
  width: 100%;
  height: 15px;
  padding-left: 25px;
  background-size: contain;
  background-position: 0 50%;
  font-size: 10px;
  background-repeat: no-repeat;
}

.game_user-area__left .game_user-skills {
  left: 35px;
}

.game_user-area__right .game_user-skills {
  right: 35px;
}



.game_pers {
  position: relative;
}

.game_user-area__left .game_pers {
  margin-left: 40px;
}

.game_user-area__right .game_pers {
  float: right;
  margin-right: 40px;
}

.game_pers img {
  width: 100%;
}
