.lu-page {
    img {
        max-width: 100%;
    }
    height: 100%;
    display: flex;
    align-items: flex-end;
    &_col {
        width: 50%;
    }
}
.lu-row {
    display: flex;
    &_col {
        padding: 0 10px;
        &__fluid {
            flex: 1;
        }
        &__skills-image {
            width: 200px;
        }
    }
}