.body {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.8);
  * {
    box-sizing: border-box;
  }
  .upper {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 60px;
  }
  .down {
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    input {
      width: 100%;
      height: 30px;
    }
    button {
      height: 30px;
    }
  }
}
