<div class="body">
  <div class="upper">
    <div class="rawMessages">
      <div class="message">
        <div class="user">ololosh</div>
        <div class="message">ololo ololo</div>
      </div>
    </div>
  </div>
  <div class="down">
    <input type="text">
    <button>send</button>
  </div>
</div>
