.main-menu {
    $root: &;
    position: fixed;
    z-index: 1000;
    width: 100%;
    font-family: 'Russo One', sans-serif;
    &__open {
        max-height: 100%;
        overflow-y: auto;
    }

    &_list {
        height: 100%;
        position: relative;
        display: none;
        padding: 90px 0 20px;
        background-color: #000;
        &:after {
            content:"";
            display: block;
            clear:both;
        }
        @media (min-width: 480px) {
            padding: 120px 0 20px;
        }
        &__open {
            display: block;
        }
        @media (min-width: 1050px) {
            display: block;
            padding: 30px 250px 0 150px;
            background-color: transparent;
            min-height: 120px;
            @supports (display:flex) {
                display: flex;
                flex-wrap: nowrap;
            }
        }
    }



    &_item {
        text-align: center;
        @media (min-width: 768px) {
            text-align: center;
            display: block;
            float: left;
            width: 25%;
            &:nth-child(2) {
                width:20%;
            }
            &:nth-child(3) {
                width: 35%;
            }
            &:last-child(3) {
                width: 20%;
            }
        }
    }
    &_link {
        &,
        &:focus,
        &:visited {
            text-decoration: none;
            display: block;
            text-align: center;
            font-size: 22px;
            line-height: 1;
            color: #fff;
            transition: all .3s;
            padding: 10px 20px;
            @media (min-width: 768px) {
                padding: 20px;
            }
        }
        &:active,
        &:hover,
        &.active {
            color: #ff5500;
            text-decoration: none;
            transition: all .3s;
        }
    }
}

.button-toggle {
    padding: 0;
    margin: 0;
    width: 24px;
    height: 22px;
    display: block;
    position: absolute;
    top: 33px;
    left: 20px;
    border: 0;
    background: transparent;
    transition: all .3s;
    cursor: pointer;
    z-index: 1001;
    &,
    &:hover,
    &:focus {
        outline: none;
    }
    @media (min-width: 480px) {
        left: 40px;
        top: 40px;
    }
    @media (min-width: 1050px) {
        display: none;
    }
    &.button-toggle__active {
        position: absolute;
    }
    &_line {
        display: block;
        position: absolute;
        background: #fff;
        height: 4px;
        width: 24px;
        &:first-child {
            top: 0;
            transform-origin: 24px 2px;
        }
        &:nth-child(2) {
            top: 9px;
        }
        &:last-child {
            top: 18px;
            transform-origin: 24px 1px;
        }
        &:first-child {
            animation: line-top-in 600ms linear normal;
            animation-fill-mode: forwards;
        }
        &:nth-child(2) {
            transition: opacity 200ms linear;
            transition-delay: 200ms;
        }
        &:last-child {
            animation: line-bot-in 600ms linear normal;
            animation-fill-mode: forwards;
        }
        .button-toggle__active & {
            background: #fff;
            @media (min-width: 768px) {
                background: #fff;
            }
            &:first-child {
                animation: line-top-out 600ms linear normal;
                animation-fill-mode: forwards;
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:last-child {
                animation: line-bot-out 600ms linear normal;
                animation-fill-mode: forwards;
            }
        }
    }
}

.main-logo {
    position: fixed;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    width:50px;
    img {
        max-width: 100%;
    }
    @media (min-width: 480px) {
        width: 80px;
    }
    @media (min-width: 1050px) {
        left: 40px;
        width: auto;
        transform: none;
    }
}

@keyframes line-top-in {
    0% {
        left: -5px;
        top: 0;
        transform: rotate(-45deg);
    }
    20% {
        left: -5px;
        top: 0;
        transform: rotate(-60deg);
    }
    80% {
        left: 0;
        top: 0;
        transform: rotate(15deg);
    }
    100% {
        left: 0;
        top: 1px;
        transform: rotate(0deg);
    }
}

@keyframes line-top-out {
    0% {
        left: 0;
        top: 0;
        transform: rotate(0deg);
    }
    20% {
        left: 0;
        top: 0;
        transform: rotate(15deg);
    }
    80% {
        left: -5px;
        top: 0;
        transform: rotate(-60deg);
    }
    100% {
        left: -5px;
        top: 1px;
        transform: rotate(-45deg);
    }
}

@keyframes line-bot-in {
    0% {
        left: -5px;
        transform: rotate(45deg);
    }
    20% {
        left: -5px;
        bot: 0;
        transform: rotate(60deg);
    }
    80% {
        left: 0;
        bot: 0;
        transform: rotate(-15deg);
    }
    100% {
        left: 0;
        transform: rotate(0deg);
    }
}

@keyframes line-bot-out {
    0% {
        left: 0;
        transform: rotate(0deg);
    }
    20% {
        left: 0;
        transform: rotate(-15deg);
    }
    80% {
        left: -5px;
        transform: rotate(60deg);
    }
    100% {
        left: -5px;
        transform: rotate(45deg);
    }
}

.fp-section {
    font-family: 'Russo One', sans-serif;
    h2,
    h3,
    p {
        font-family: 'Russo One', sans-serif;
        color: #fff;
    }
}
.tabs-race {
    font-family: 'Russo One', sans-serif;
    &_nav {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &_nav-link {
        flex: 1;
        padding: 12px 0;
        font-size: 16px;
        color: #fff;
        text-align: center;
        transition: color 0.3s;
        text-decoration: none;
        @media (min-width: 768px) {
            margin-right: 4px;
            padding: 12px;
            font-size: 18px;
        }
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            text-decoration: none;
        }
        &__fox {
            &:hover,
            &.is-active {
                color: #d55203;
            }
        }
        &__robot {
            &:hover,
            &.is-active {
                color: #7a8c9a;
            }
        }
        &__cat {
            &:hover,
            &.is-active {
                color: #9cff9c;
            }
        }
    }
    &_tab {
        display: none;
        min-height: 350px;
        &.is-active {
            display: block;
        }
    }
    &_tab-content {
        padding: 10px;
        display: flex;
        align-items: flex-start;
        min-height: 450px;
        @media (min-width: 768px) {
            align-items: center;
        }
    }
    &_tab-content-image {
        width: 25%;
        padding-right: 20px;
        img {
            max-width: 100%;
        }
    }
    &_tab-content-text {
        flex: 1;
    }
}

.tabs-skill {
    font-family: 'Russo One', sans-serif;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    min-height: 210px;
    @media (min-width: 768px) {
        left: auto;
        max-width: 600px;
    }
    &_nav {
        order:2;
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 180px;
        height: 60px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        @media (min-width: 768px) {
            transform: none;
            flex-direction: column;
            width: 60px;
            height: 210px;
            position: absolute;
            left: auto;
            right: 0;
            bottom: 0;
        }
    }
    &_nav-link {
        flex: 1;
        margin-right: 4px;
        padding: 0;
        color: #fff;
        background-color: transparent;
        text-align: center;
        transition: color 0.3s;
        height: 70px;
        width: 60px;
        &:hover {
            color: #6d6d6d;
        }
        &.is-active {
            color: #dc446e;
        }
        img {
            max-width: 100%;
        }
    }
    &_content {

    }
    &_tab {
        display: none;
        min-height: 210px;
        background-color: #e7e7e7;
        padding-bottom: 60px;
        @media (min-width: 768px) {
            padding-bottom: 0;
            padding-right: 60px;
        }
        &.is-active {
            display: block;
        }
        &__laser {
            &.is-active {
                background-color: #4790ff;
            }
        }
        &__rain {
            &.is-active {
                background-color: #ff5500;
            }
        }
        &__net {
            &.is-active {
                background-color: #00ff8a;
            }
        }
    }
    &_tab-content {
        padding: 15px;
        h3 {
            margin-bottom: 15px;
            font-family: 'Russo One', sans-serif;
        }
        p {
            color: #000;
        }
    }
}

.fp-section {
    &_content {
        color: #fff;
        padding: 120px 15px 0;
        @media (min-width: 768px) {
            padding: 120px 50px 20px;
        }
        @media (min-width: 1050px) {
            padding: 120px 100px 20px;

        }
    }
}

.button-go-to-play {
    position: fixed;
    z-index: 1000;
    right: 10px;
    top: 30px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #292b76;
    line-height: 18px;
    padding: 6px 10px;
    background-color: #c22428;
    text-decoration: none;
    transition: background-color .15s ease-out, color .15s ease-out, border-color .15s ease-out;
    @media (min-width: 480px) {
        top:36px;
        padding: 8px 20px;
    }

    @media (min-width: 768px) {
        padding: 16px 60px;
        margin-right: 50px;
    }
    &:hover {
        border-color: #fff;
        color: #fff;
        text-decoration: none;
    }
}
.anchor-to-about {
    display: none;
    position: absolute;
    z-index: 1000;
    color:#fff;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    padding:5px 0 10px;
    transition: all .3s;
    font-family: 'Russo One', sans-serif;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
        color: #fff;
    }
    @media (min-width: 1050px) {
        display: inline-block;
    }
    .fp-viewing-section-5 & {
        visibility: hidden;
    }
}

.legal-info-grid {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &_col {
        width: 50%;
        padding: 10px 10px 20px;
        @media (min-width: 768px) {
            width: 33.3333%;
        }
        @media (min-width: 1050px) {
            width: 16.66666%;
            flex-wrap: nowrap;
        }
    }
}
.legal-info {
    p {
        font-size: 14px;
        margin-bottom: 5px;
    }
    &_title {
        font-size: 18px;
        margin-bottom: 8px;
    }
    &_center {
        text-align: center;
    }
    &_team-list {
        font-size: 11px;
    }
    &_team-heading {
        margin-top: 15px;
    }
}
.game-rules {
    font-size: 14px;
}
.fp-section__1 {
    background: url(./main-page-front-bg.png) no-repeat 50% 100%;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    text-align: center;
}
.fp-section__5 {
    padding-bottom: 80px;
    @media (min-width:768px) {
        padding-bottom: 0;
    }
}

.front-page-title {
    color: #00fadf;
    font-size: 30px;
    line-height: 1.2;
    margin-top: 120px;
    font-family: 'Russo One', sans-serif;
    @media (min-width: 768px) {
        font-size: 50px;
        margin-top: 50px;
    }
}

h1,
h2 {
    font-family: 'Russo One', sans-serif;
}

.button-go-to-play-front {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    background: url(./button-go-to-play-front.png) 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 170px;
    height: 60px;
    margin-top: 60px;
    @media (min-width: 768px) {
        width: 227px;
        height: 80px;
    }
    &:hover {
        text-decoration: none;
    }
}

.front-news {
    overflow: hidden;
    width: 100%;
    min-height: 350px;
    position: relative;
    &_item {

    }
    &_item-header {
        cursor: pointer;
        border-bottom: 1px solid grey;
        padding: 10px 0;
        width: 100%;
        @media (min-width: 1050px) {
            max-width: 25%;

        }
        .front-news_item:last-child & {
            @media (min-width: 1050px) {
                border-bottom: 0;
            }
        }
    }
    &_item-title {
        font-weight: bold;
        display: block;
        .front-news_item.active & {
            color: #ff5500;
        }
    }
    &_item-date {
        display: block;
        text-transform: uppercase;
        margin: 5px 0 0;
        opacity: 0.7;
        font-size: 0.8rem;
    }
    &_article {
        display: none;
        padding: 10px 0 20px;
        @media (min-width: 1050px) {
            position: absolute;
            right: 0;
            top: 0;
            left: 25%;
            padding: 10px 0 20px 30px;
        }
        .front-news_item.active & {
            display: block;
        }
        p {
            margin-bottom: 8px;
        }
        a {
            color: #fff;
            &:hover {
                text-decoration: none;
            }
        }
    }
}
