.map-page {
    height: 100%;
    display: flex;
}
.game-way {
    flex: 1;
    display: flex;
    &_planet {
        width: 10%;
        padding: 10px;
        text-align: center;
    }
    &_planet-image {
        border-radius: 100%;
    }
}
.map-profile {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 25%;
    padding: 20px;
    background: #fff;
    &_card {
        display: flex;
    }
    &_image {
        width: 120px;
    }
    &_skills {
        flex: 1;
    }
    &_hp-label {
        display: inline-block;
        vertical-align: middle;
    }
    &_hp-bar {
        display: inline-block;
        width: 100px;
        height: 10px;
        vertical-align: middle;
        background: #ccc;
    }
    &_hp-value {
        background: green;
        width: 0;
        height: 10px;
        transition: width .5s;
    }
    &_skill {
        position: relative;
        &__main {
            &::before {
                content: "";
                position: absolute;
                right: 100%;
                top: 50%;
                transform: translateY(-50%);
                margin-right: 5px;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background: red;
            }
        }
    }
    &_skill-label {
        display: inline-block;
        vertical-align: middle;
    }
    &_skill-value {
        display: inline-block;
        vertical-align: middle;
        height: 10px;
        background: green;
        width: 0;
        transition: width .5s;
    }
}
.map-chat {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #fff;
    width: 25%;
    padding: 20px;
}