:host {
  width: 100%;
  height: 100%;
  display: block;
}

.body {
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  position: relative;
  .map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; // background-color: red;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
  }
  app-chat {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 30%;
  }
  app-user-state {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 30%;
  }
}
