* {
    &,
    &::before,
    &::after {
        box-sizing: border-box;
    }

    &:active,
    &:focus {
        outline: 0;
    }
}

body {
    background: url(./background_clear_front.png) #000 no-repeat 50% 50%;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    font-family: 'Russo One', sans-serif;
    position: relative;
    font-size: 14px;
    @media (min-width: 1050px) {
        font-size: 16px;
    }
    &:before {
        content: "";
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 120px;
        background: linear-gradient(black 0%, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.6) 40%, transparent 100%);
        z-index: 1;
    }
    &:after {
        content: "";
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 70px;
        background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.7) 80%, black 100%);
        z-index: 1;
        @media (min-width: 768px) {
            display: none;
        }
    }
}

blockquote,
q {
    quotes: none;
}

button {
    background: transparent;
    border: 0;
    cursor: pointer;
}

caption {
    text-align: left;
}

em {
    font-style: normal;
}

input {
    background: transparent;
    border: 0;
    margin: 0;

    &[type="text"]::-ms-clear {
        display: none;
    }

    &[disabled] {
        opacity: 1; // Safari and Chrome in iOS
    }

    &:invalid {
        outline: 0;
    }
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

form {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: {
        stretch: normal;
        style: normal;
        weight: normal;
    }
    margin: 0;
}

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit: {
        font-smoothing: antialiased;
        tap-highlight-color: transparent;
    }
    height: 100%; // for layout block
    margin: 0;
    padding: 0;
    text-size-adjust: none;
}

img {
    border: 0;
}

main {
    display: block;
}

mark {
    background: none;
    color: inherit;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

strong,
b {
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

textarea {
    background: transparent;
    border: 0;
    resize: none;
}

td,
th {
    text-align: left;
    vertical-align: top;
}

th {
    font-weight: normal;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
