.button-play {
    float: right;
    margin-right: 50px;
    margin-top: 50px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid #fff;
    line-height: 18px;
    padding: 11px 28px;
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color .15s ease-out,color .15s ease-out;
}

.button-play:hover {
    color: #474747;
    background-color: #f9f5e1;
}