<div class="body">
  <div class="bgWrapper"></div>
  <div class="choose-general">
    <div class="choose">
      <h1 class="choose_title">Выбери расу</h1>
      <ul class="choose_container">
        <li class="choose_card">
          <div class="choose_image-container">
            <div class="img dog">

            </div>

          </div>
          <ul class="choose_description">
            <li class="choose_item">
              <p class="choose_late">Псы войны</p>
            </li>
            <li class="choose_item">
              <div class="icon dog"></div>
            </li>
          </ul>
          <div class="choose_card-race">
            <div class="choose_history">
              <p>Далекие потомки первой земной экспедиции к ближайшей звезде. Отправленные на гиганских шаттлах, полных буровыми
                установками, перерабатыващими механизмами, лазерными бурами, плазменными резаками, они потеряли свзяь с Землей
                и затерялись в космосе на века. В условиях постоянного кризиса выживать смогли только самые крепкие мужчины.
                Дожили они до наших дней только благодаря клонированию. Миллионы репликаций за десятки тысяч лет привели
                к физической и психической деградации.
              </p>
            </div>
            <div class="choose_accept-container">
              <a href="#" class="choose_accept" data-race="1" (click)="this.select(1)">Выбрать</a>
            </div>
          </div>
        </li>
        <li class="choose_card">
          <div class="choose_image-container">
            <div class="img titan">

            </div>
          </div>
          <ul class="choose_description">
            <li class="choose_item">
              <p class="choose_late">Титаны</p>
            </li>
            <li class="choose_item">
              <div class="icon titan"></div>
            </li>
          </ul>
          <div class="choose_card-race">
            <div class="choose_history">
              <p>"Представители этой расы когда-то составляли сильнейшую из цивилизаций. Им было подвластно пространство и отчасти
                время – продолжительность их жизни превышала 1 000 000 лет. Возможность созерцать вечность сделала их холодными
                и неэмоциональными. Все, что их заботит – это сохранение баланса в хрупкой вселенной, который сегодня под
                угрозой из-за конфликта Псов Войны и Котиков. Вернув баланс, титаны снова смогут погрузиться в сон. "
              </p>
            </div>
            <div class="choose_accept-container">
              <a href="#" class="choose_accept" data-race="2" (click)="this.select(2)">Выбрать</a>
            </div>
          </div>
        </li>
        <li class="choose_card">
          <div class="choose_image-container">
            <div class="img cat">

            </div>
          </div>
          <ul class="choose_description">
            <li class="choose_item">
              <p class="choose_late">Котики</p>
            </li>
            <li class="choose_item">
              <div class="icon cats"></div>
            </li>
          </ul>
          <div class="choose_card-race">
            <div class="choose_history">
              <p>Потомки сегодняшних землян, Котики - миролюбивая раса. Подробности того что случилось с землянами сейчас засекречены,
                и они утверждают, что всегда были котиками. Но по слухам, где-то в 22 веке во время величайшего события -
                распыления по всей Земле сыворотки от всех известных болезней - главный санитарный врач Земли случайно авторизовался
                в системе распыления своим Instagram аккаунтом.
              </p>
            </div>
            <div class="choose_accept-container">
              <a href="#" class="choose_accept" data-race="3" (click)="this.select(3)">Выбрать</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
