.body {
  position: relative;
  padding-top: 75px;
  height: 100%;
  * {
    box-sizing: border-box;
  }
  .logotype {
    height: 47px;
  }
  .bgWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.58;
  }
  .choose-general {
    vertical-align: baseline;
    line-height: 20px;
    color: #fff;
    position: relative;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
  }
  .choose:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .choose_title {
    /* Style for "Выбери рас" */
    color: #c0f1ff;
    font-family: Arial;
    font-size: 72px;
    font-weight: 700;
    width: 100%; // position: absolute;
    margin: 0; // top: 55px;
    left: 0;
    text-align: center;
    margin-bottom: 65px;
  }
  .choose_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
    margin: 0;
  }
  .choose_card {
    position: relative;
    width: 28%;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
  }
  .choose_image-container {
    max-width: 100%;
    .img {
      width: 100%;
      height: 280px;
      background-position: center top;
      background-repeat: no-repeat;
      &.cat {
        background-image: url(/static/assets/images/cat.png);
        background-position: center bottom;
      }
      &.dog {
        background-image: url(/static/assets/images/dog.png);
        background-position: center bottom;
      }
      &.titan {
        background-image: url(/static/assets/images/titan.png);
        background-position: top center;
      }
    }
  }
  .choose_history {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    text-overflow: ellipsis;
    max-height: 100%;
    font-size: 15px;
  }
  .choose_description {
    padding-top: 15px;
  }
  .choose_item {
    font-size: 15px;
    width: 100%;
    .icon {
      margin: auto;
      background-repeat: no-repeat;
      &.cats {
        background-image: url(/static/assets/images/icons/i3.png);
        width: 86px;
        height: 87px;
      }
      &.dog {
        background-image: url(/static/assets/images/icons/i1.png);
        width: 121px;
        height: 64px;
      }
      &.titan {
        background-image: url(/static/assets/images/icons/i2.png);
        width: 83px;
        height: 83px;
      }
    }
  }
  .choose_item:not(:first-child) {
    padding-top: 10px;
  }
  .choose_accept {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid #fff;
    line-height: 18px;
    padding: 11px 28px;
    background-color: rgba(0, 0, 0, .7);
    transition: background-color .15s ease-out, color .15s ease-out;
  }
  .choose_accept:hover {
    color: #474747;
    background-color: #f9f5e1;
  }
  .choose_late {
    /* Style for "Пьос ваины" */
    color: #c0f1ff;
    font-family: Arial;
    font-size: 53px;
    font-weight: 700;
    text-align: center;
  }
  @media screen and (min-width: 720px) {
    .choose_card-race {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s linear;
      align-self: center;
      align-items: center;
      position: absolute;
      padding: 25px 25px 70px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      color: #fff;
      z-index: 1;
      border-radius: 5px;
      -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.75);
      cursor: default;
      font-size: 14px;
    }
    .choose_accept-container {
      position: absolute;
      bottom: 10px;
      left: 0;
      text-align: center;
      height: 44px;
      right: 0;
    }
    .choose_card:hover::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(28, 28, 30, .8);
    }
    .choose_card:hover .choose_card-race {
      visibility: visible;
      opacity: 1;
    }
  }
  @media screen and (max-width: 720px) {
    .choose_container {
      flex-direction: column;
    }
    .choose_image {
      max-width: 50%;
    }
    .choose_card {
      width: 100%;
    }
    .choose_card {
      padding-bottom: 30px;
      border-radius: 0;
    }
    .choose_card:after {
      content: '';
      border-bottom: 1px solid #2a2a2a;
      position: absolute;
      height: 1px;
      left: 10px;
      bottom: 5px;
      right: 20px;
    }
    .choose_accept-container,
    .choose_image-container {
      text-align: center;
    }
    .choose_accept-container {
      padding-top: 10px;
    }
    .choose_history {
      overflow: hidden;
      p {
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
  @media screen and (max-width: 400px) {
    .choose_history {
      display: none;
    }
    .choose_image {
      max-width: 90%;
    }
  }
}
