:host {
  background-image: url(/static/assets/images/bg.png);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  * {
    box-sizing: border-box;
  }
  .header {
    position: fixed;
    top: 0;
    height: 87px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    z-index: 2;
    padding-right: 20px;
    .logotype {
      height: 47px;
    }
    .choose_accept {
      display: inline-block;
      vertical-align: middle;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      border: 2px solid #fff;
      line-height: 18px;
      padding: 11px 28px;
      background-color: rgba(0, 0, 0, .7);
      transition: background-color .15s ease-out, color .15s ease-out;
      text-decoration: none;
    }
    .choose_accept:hover {
      color: #474747;
      background-color: #f9f5e1;
    }
    &_container {
      max-width: 1366px;
      margin: 0 auto;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      padding: 20px;
      position: absolute;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
    &_column {
      flex: 1 auto;
      &__left {
        text-align: left;
      }
      &__right {
        text-align: right;
      }
    }
    &.chooser {
      background-color: initial;
      box-shadow: none;
    }
  }
}

app-lobby {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
