<header class="header" [class.chooser]="this.api.currentState=='race-chooser'" *ngIf="this.api.currentState!='battle'">
  <div class="header_container">
    <div class="header_column header_column__left">
      <a href="#"><img class="logotype" src="/static/assets/images/logo.png" alt="logo"></a>
    </div>
    <div class="header_column header_column__right">
      <a href="#" id="button_play" class="choose_accept" (click)="this.battle()" *ngIf="this.api.isBattleAvailable()"> В бой</a>
    </div>
  </div>
</header>
<app-race-chooser *ngIf="this.api.currentState=='race-chooser'">

</app-race-chooser>

<app-lobby *ngIf="this.api.currentState=='lobby'">
</app-lobby>

<app-battle *ngIf="this.api.currentState=='battle'">
</app-battle>


<app-await-page *ngIf="this.api.currentState=='await'"></app-await-page>

<app-win *ngIf="this.api.currentState=='win'"></app-win>
<app-loose *ngIf="this.api.currentState=='lose'"></app-loose>
