{% extends "base/layout.html" %}

{% block body %}
<div class="overlay is-open">
    <header class="header">
        <div class="header_container">
            <div class="header_column header_column__left">
                <a href="#"><img class="logotype" src="{{ static('img/logo.png') }}" alt="logo"></a>
            </div>
            <div class="header_column header_column__right">
                <a href="#" id="button_play"  class="choose_accept">В бой</a>
            </div>
        </div>
    </header>


    <div class="overlay-content overlay-position-center">
        {% if won %}
            <h1 class="overlay-content_title">Вы победили!!!</h1>
        {% else %}
            <h1 class="overlay-content_title">Вы проиграли!!!</h1>
        {% endif %}
        <div class="overlay-content_button-section">
            <div>
                <a class="uk-button uk-button-primary uk-margin-medium-bottom" href="">Share on facebook</a>
            </div>
            {% if has_free_exp %}
                {% set next_url = url('user:levelup') %}
            {% else %}
                {% set next_url = url('battle:game') %}
            {% endif %}
            <a class="uk-button uk-button-default" href="{{ next_url }}">OK</a>
        </div>
    </div>
</div>
{% endblock %}