{% extends "base/layout.html" %}

{% block body %}
    <div class="choose-general">
      <div class="choose">
          <h1 class="choose_title">Выберете персонажа</h1>
          <ul class="choose_container">
            <li class="choose_card">
                <div class="choose_image-container">
                  <img alt="" class="choose_image" src="{{ static('img/titan.png') }}"/>
                </div>
                <ul class="choose_description">
                  <li class="choose_item">
                    <p class="choose_late">Титаны</p>
                  </li>
                  <li class="choose_item">
                    <p>Представители этой
                       расы когда-то составляли сильнейшую из цивилизаций.
                       Им было подвластно пространство и отчасти время – продолжительность
                       их жизни была значительной, порядка 1000000 лет.</p>
                  </li>
                </ul>
              <div class="choose_card-race">
                <div class="choose_history">
                    <p>Это и определило их ментальные
                    особенности. Возможность созерцать вечность сделала их холодными и неэмоциональными.
                    Все, что их заботит – это сохранение баланса в хрупкой вселенной, который сегодня стремятся
                    нарушить псы и котики – временные пришельцы, по их меркам.
                    Вернув баланс, титаны снова смогут погрузиться в сон.
                    Внешнее обладая значительными размерами, они в то же время способны на быстрые перемещения
                    и обладают хорошей подвижностью. Человекоподобное строение позволяет им без труда взаимодействовать
                    с предметами, как телекинезом, так и простым физическим контактом. Кожа отливающая металлом,
                    отражает значительную часть спектра, что позволяет им находиться на значительном количестве
                    планет с суровыми условиями без какой-либо защиты. Особой, псионической способностью титанов
                    является умение вызывать падение метеоритов на планету, в окрестности своего местонахождения.
                    Испепеляя все вокруг, разрушения, при этом не приносят ущебра им самим. Кажущееся воинственное
                    поведение титанов не является таковым по сути, они лишь пытаются навести порядок дома,
                    избавившись от надоедливых паразитов. Их действия носят в первую очередь усмирительный характер.
                  </p>
                </div>
                <div class="choose_accept-container">
                  <a href="#" class="choose_accept">Выбрать</a>
                </div>
              </div>
            </li>
            <li class="choose_card">
                <div class="choose_image-container">
                  <img alt="" class="choose_image" src="{{ static('img/titan.png') }}"/>
                </div>
                <ul class="choose_description">
                  <li class="choose_item">
                    <p class="choose_late">Титаны</p>
                  </li>
                  <li class="choose_item">
                    <p>Представители этой
                       расы когда-то составляли сильнейшую из цивилизаций.
                       Им было подвластно пространство и отчасти время – продолжительность
                       их жизни была значительной, порядка 1000000 лет.</p>
                  </li>
                </ul>
              <div class="choose_card-race">
                <div class="choose_history">
                    <p>Это и определило их ментальные
                    особенности. Возможность созерцать вечность сделала их холодными и неэмоциональными.
                    Все, что их заботит – это сохранение баланса в хрупкой вселенной, который сегодня стремятся
                    нарушить псы и котики – временные пришельцы, по их меркам.
                    Вернув баланс, титаны снова смогут погрузиться в сон.
                    Внешнее обладая значительными размерами, они в то же время способны на быстрые перемещения
                    и обладают хорошей подвижностью. Человекоподобное строение позволяет им без труда взаимодействовать
                    с предметами, как телекинезом, так и простым физическим контактом. Кожа отливающая металлом,
                    отражает значительную часть спектра, что позволяет им находиться на значительном количестве
                    планет с суровыми условиями без какой-либо защиты. Особой, псионической способностью титанов
                    является умение вызывать падение метеоритов на планету, в окрестности своего местонахождения.
                    Испепеляя все вокруг, разрушения, при этом не приносят ущебра им самим. Кажущееся воинственное
                    поведение титанов не является таковым по сути, они лишь пытаются навести порядок дома,
                    избавившись от надоедливых паразитов. Их действия носят в первую очередь усмирительный характер.
                  </p>
                </div>
                <div class="choose_accept-container">
                  <a href="#" class="choose_accept">Выбрать</a>
                </div>
              </div>
            </li>
            <li class="choose_card">
                <div class="choose_image-container">
                  <img alt="" class="choose_image" src="{{ static('img/titan.png') }}"/>
                </div>
                <ul class="choose_description">
                  <li class="choose_item">
                    <p class="choose_late">Титаны</p>
                  </li>
                  <li class="choose_item">
                    <p>Представители этой
                       расы когда-то составляли сильнейшую из цивилизаций.
                       Им было подвластно пространство и отчасти время – продолжительность
                       их жизни была значительной, порядка 1000000 лет.</p>
                  </li>
                </ul>
              <div class="choose_card-race">
                <div class="choose_history">
                    <p>Это и определило их ментальные
                    особенности. Возможность созерцать вечность сделала их холодными и неэмоциональными.
                    Все, что их заботит – это сохранение баланса в хрупкой вселенной, который сегодня стремятся
                    нарушить псы и котики – временные пришельцы, по их меркам.
                    Вернув баланс, титаны снова смогут погрузиться в сон.
                    Внешнее обладая значительными размерами, они в то же время способны на быстрые перемещения
                    и обладают хорошей подвижностью. Человекоподобное строение позволяет им без труда взаимодействовать
                    с предметами, как телекинезом, так и простым физическим контактом. Кожа отливающая металлом,
                    отражает значительную часть спектра, что позволяет им находиться на значительном количестве
                    планет с суровыми условиями без какой-либо защиты. Особой, псионической способностью титанов
                    является умение вызывать падение метеоритов на планету, в окрестности своего местонахождения.
                    Испепеляя все вокруг, разрушения, при этом не приносят ущебра им самим. Кажущееся воинственное
                    поведение титанов не является таковым по сути, они лишь пытаются навести порядок дома,
                    избавившись от надоедливых паразитов. Их действия носят в первую очередь усмирительный характер.
                  </p>
                </div>
                <div class="choose_accept-container">
                  <a href="#" class="choose_accept">Выбрать</a>
                </div>
              </div>
            </li>
          </ul>
      </div>
  </div>
{% endblock %}
