{% extends "base/layout.html" %}

{% block body %}
    <div id="battle" class="hidden" style="background-image:url({{ static('img/game_back_1.png') }})">
        <div class="game">

            <!-- left user -->
            <div class="game_user-area game_user-area__left">
                <div class="game_user-info">
                    {{ user.first_name }}
                    <div class="hp-bar">
                        <div class="hp-bar_fill"></div>
                    </div>
                </div>

                <div class="game_user-history">
                    <div class="game_user-history-item" style="background-image:url({{ static('img/fireball.png') }})"></div>
                    <div class="game_user-history-item" style="background-image:url({{ static('img/chain.png') }})"></div>
                    <div class="game_user-history-item" style="background-image:url({{ static('img/chain.png') }})"></div>
                    <div class="game_user-history-item" style="background-image:url({{ static('img/fireball.png') }})"></div>
                    <div class="game_user-history-item" style="background-image:url({{ static('img/lazer.png') }})"></div>
                </div>

                <div class="game_action-block">
                    <div class="game_pers">
                        <img alt="" src="/static/img/titan.png">
                    </div>
                </div>


                <div class="game_user-skills">
                    <div class="game_user-skill" style="background-color:#4790ff; width:100%;">
                      <div class="game_user-skill_line" style="background-image:url({{ static('img/lazer.png') }})">100</div>
                    </div>
                    <div class="game_user-skill" style="background-color:#ff5500; width:75%;">
                      <div class="game_user-skill_line" style="background-image:url({{ static('img/fireball.png') }})">75</div>
                    </div>
                    <div class="game_user-skill" style="background-color:#00ff8a; width:50%;">
                      <div class="game_user-skill_line" style="background-image:url({{ static('img/chain.png') }})">50</div>
                    </div>
                </div>


            </div>
            <!-- actions block-->
            <div class="game_user-actions-wrapper">
              <div class="game_user-actions-wrapper2">
                <div class="game_user-actions-border">
                  <div class="game_user-actions">
                      <div class="item1 item" style="background-image:url({{ static('img/round-lazer.png') }})">
                      </div>
                      <div class="item2 item" style="background-image:url({{ static('img/round-chain.png') }})">
                      </div>
                      <div class="item3 item" style="background-image:url({{ static('img/round-fireball.png') }})">
                      </div>
                  </div>
                </div>
              </div>
              <div class="game_user_qwest" style="background-image:url({{ static('img/qwest.png') }})"></div>
            </div>
            <!-- right user -->
            <div class="game_user-area game_user-area__right">
                <div class="game_user-info">
                    BestTankist_63
                    <div class="hp-bar">
                        <div class="hp-bar_fill"></div>
                    </div>
                </div>

                <div class="game_user-history">
                    <div class="game_user-history-item" style="background-image:url({{ static('img/fireball.png') }}")></div>
                    <div class="game_user-history-item" style="background-image:url({{ static('img/chain.png') }})"></div>
                    <div class="game_user-history-item" style="background-image:url({{ static('img/chain.png') }})"></div>
                    <div class="game_user-history-item" style="background-image:url({{ static('img/fireball.png') }})"></div>
                    <div class="game_user-history-item" style="background-image:url({{ static('img/lazer.png') }})"></div>
                </div>

                <div class="game_action-block">
                    <div class="game_pers">
                        <img alt="" src="/static/img/titan.png">
                    </div>
                </div>

                <div class="game_user-skills">
                    <div class="game_user-skill" style="background-color:#4790ff; width:100%;">
                      <div class="game_user-skill_line" style="background-image:url({{ static('img/lazer.png') }})">100</div>
                    </div>
                    <div class="game_user-skill" style="background-color:#ff5500; width:75%;">
                      <div class="game_user-skill_line" style="background-image:url({{ static('img/fireball.png') }})">75</div>
                    </div>
                    <div class="game_user-skill" style="background-color:#00ff8a; width:50%;">
                      <div class="game_user-skill_line" style="background-image:url({{ static('img/chain.png') }})">50</div>
                    </div>
                </div>

            </div>
            <div class="game_timer">
                00:10
            </div>
        </div>
    </div>
{% endblock %}
