<div class="hero">
  <div class="hero-stats">
    <div class="hero-stats_image">
      <img alt="" src="{{ static('img/titan.png') }}"/>
    </div>
    <div class="hero-stats_description">
      <div class="hero-stats_skill hero-stats_skill__chain" style="width:50%;"><input class="hero-stats_radio" name="dzen" type="radio" value="nedzen"></div>
      <div class="hero-stats_skill hero-stats_skill__lazer" style="width:25%;"><input class="hero-stats_radio" name="dzen" type="radio" value="nedzen"></div>
      <div class="hero-stats_skill hero-stats_skill__fireball" style="width:33%;"><input class="hero-stats_radio" name="dzen" type="radio" value="nedzen"></div>
      <div class="hero-stats_skill hero-stats_skill__health" style="width:20%;"><input class="hero-stats_radio" name="dzen" type="radio" value="nedzen"></div>
      <div class="hero-stats_skill hero-stats_skill__cup" style="width:10%;"><input class="hero-stats_radio" name="dzen" type="radio" value="nedzen"></div>
    </div>
  </div>
  <div class="hero_text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam iaculis neque odio,
      et accumsan justo sagittis ut. Suspendisse porta rhoncus metus ac mollis. Quisque nec
      blandit magna. Nam fermentum lobortis euismod. Suspendisse potenti. Nulla
      consectetur urna nec dapibus ullamcorper. Nulla tincidunt non augue a eleifend.
      Curabitur tortor ex, aliquet ut pulvinar a, dictum tempus nisl.
    </p>
    <div class="hero_button">
      <a href="#" class="uk-button uk-button-danger">OK</a>
    </div>
  </div>
</div>
