{% extends "base/layout.html" %}

{% block body %}
<div class="main-menu js-main-menu">
    <div class="main-menu_toggle">
        <button class="button-toggle js-main-menu-toggle">
            <span class="button-toggle_line"></span>
            <span class="button-toggle_line"></span>
            <span class="button-toggle_line"></span>
        </button>
    </div>
    <ul id="main-menu-list" class="main-menu_list js-main-menu-list">
        <li class="main-menu_item js-main-menu-item">
            <a href="#section-2" data-menuanchor="section-2" class="main-menu_link js-main-menu-link">
                <span class="main-menu_text">Вселенная</span>
            </a>
        </li>
        <li class="main-menu_item js-main-menu-item">
            <a href="#section-3" data-menuanchor="section-3" class="main-menu_link js-main-menu-link">
                <span class="main-menu_text">Расы</span>
            </a>
        </li>
        <li class="main-menu_item js-main-menu-item">
            <a href="#section-4" data-menuanchor="section-4" class="main-menu_link js-main-menu-link">
                <span class="main-menu_text">Правила игры</span>
            </a>
        </li>
        <li class="main-menu_item js-main-menu-item">
            <a href="#section-6" data-menuanchor="section-6" class="main-menu_link js-main-menu-link">
                <span class="main-menu_text">Новости</span>
            </a>
        </li>
    </ul>
</div>
<a href="#section-1" class="main-logo js-main-logo">
    <img src="{{ static('img/main-logo.png') }}" alt="game of the year 2017"/>
</a>

<a href="{{ url('social:begin', 'facebook') }}" class="button-go-to-play">Играть</a>
<!--<a href="{{ url('social:begin', 'odnoklassniki-oauth2') }}" class="button-go-to-play">Играть</a>-->

<div id="tabs-skill" class="tabs-skill no-js">
    <div class="tabs-skill_nav">
        <a href="#" class="tabs-skill_nav-link js-tabs-skill-nav-link"><img src="{{ static('img/skill-laser.png') }}" alt="Лазерный луч"/></a>
        <a href="#" class="tabs-skill_nav-link js-tabs-skill-nav-link"><img src="{{ static('img/skill-rain.png') }}" alt="Метеоритный дождь"/></a>
        <a href="#" class="tabs-skill_nav-link js-tabs-skill-nav-link"><img src="{{ static('img/skill-net.png') }}" alt="Энергетическая сеть"/></a>
    </div>
    <div class="tabs-skill_content">
        <div class="tabs-skill_tab tabs-skill_tab__laser js-tabs-skill-tab">
            <div class="tabs-skill_tab-content">
                <h3>Лазерный луч/Laser</h3>
                <p>Ярко красный луч, прожигающий все на своем пути. Отлично проходит через "Энергетическую сеть". Может разрушить метеорит, но один и не быстро.</p>
            </div>
        </div>
        <div class="tabs-skill_tab tabs-skill_tab__rain js-tabs-skill-tab">
            <div class="tabs-skill_tab-content">
                <h3>Метеоритный дождь</h3>
                <p>Десятки раскалённых огромных камней летят прямо в цель будучи направленными силой мысли древних существ. Не один лазер не сможет справиться с такой угрозой. Сеть, должно быть, может их остановить.</p>

            </div>
        </div>
        <div class="tabs-skill_tab tabs-skill_tab__net js-tabs-skill-tab">
            <div class="tabs-skill_tab-content">
                <h3>Энергетическая сеть</h3>
                <p>Органическая сеть, подключенная к колоссальному по своей силе источнику энергии, внешне напоминает искрящуюся рыболовную сеть, на очень крупную рыбу. Уничтожает все что попадает в сеть, а то что не попадает, не уничтожает).</p>
            </div>
        </div>
    </div>
</div>
<div id="fullpage" class="fullpage">
    <div class="fp-section fp-section__1" data-anchor="section-1">
        <div class="fp-section_content">
            <h1 class="front-page-title">Космическое <br>зоо-реалити-шоу</h1>
            <a href="{{ url('social:begin', 'facebook') }}" class="button-go-to-play-front"></a>
            <!--<a href="{{ url('social:begin', 'odnoklassniki-oauth2') }}" class="button-go-to-play-front"></a>-->
        </div>
    </div>
    <div class="fp-section fp-section__2" data-anchor="section-2">
        <div class="fp-section_content">
            <h2>Описание Вселенной</h2>
            <p>20234 год. Кажется, ничто не угрожает благоденствию цивилизации благородных Котиков. Жители их многочисленных планет в прошлом пережили катастрофу техногенного характера, из-за которой приобрели внешний вид котиков. С той самой поры они крайне негативно относятся к экспериментам в области генной инженерии, искусственного интеллекта и прочей научной ереси. В свободное время они занимаются облагораживанием своих планет, искусством и прочей добродетелью.</p>
            <p>Однако ничто не может длиться вечно. Вторжение Псов Войны -- потомков древней экспедиции в глубины космоса -- заставило котиков отложить арфы в сторону и защищать себя. Псы Войны, бескомпромиссные и озлобленные, жестокие и изуродованные в результате бесчисленных циклов клонирования, настроены на полное уничтожение любого, кто встанет на их пути.</p>
            <p>Разразившийся невообразимых масштабов конфликт не мог пройти незамеченным для сил, дремавших в глубинах космоса. Древние Титаны, повелители стихий и хранители баланса пробудились для того, чтобы завершить конфликт и вернуть спокойствие во Вселенную. И пока их цель не будет достигнута, они не станут сдерживать свои воистину Титанические силы.</p>
            <p>Как и всегда, не обошлось без тех, кто готов поживиться на горе других. Развлекательная корпорация “Ось Зла” начала выпуск реалити шоу “Galaxy Battle”, в котором жестокие сражения между лучшими представителями рас транслируются на всю Вселенную. Несмотря на аморальную природу этого продукта, он приносит славу его участникам и баснословные прибыли его создателям.</p>
            <p>Когда закончится все это безумие не знает никто...</p>
        </div>
    </div>
    <div class="fp-section fp-section__3" data-anchor="section-3">
        <div class="fp-section_content">
            <div id="tabs-race" class="tabs-race no-js">
                <div class="tabs-race_nav">
                    <a href="#" class="tabs-race_nav-link tabs-race_nav-link__fox js-tabs-race-nav-link is-active">Псы войны</a>
                    <a href="#" class="tabs-race_nav-link tabs-race_nav-link__robot js-tabs-race-nav-link">Титаны</a>
                    <a href="#" class="tabs-race_nav-link tabs-race_nav-link__cat js-tabs-race-nav-link">Котики</a>
                </div>
                <div class="tabs-race_tabs-content">
                    <div class="tabs-race_tab js-tabs-race-tab is-active">
                        <div class="tabs-race_tab-content">
                            <div class="tabs-race_tab-content-image">
                                <img src="{{ static('img/race-fox.png') }}" alt="Псы войны"/>
                            </div>
                            <div class="tabs-race_tab-content-text">
                                <p>Далекие потомки первой земной экспедиции к ближайшей звезде. Отправленные на гиганских шаттлах, полных буровыми установками, перерабатыващими механизмами, лазерными бурами, плазменными резаками, они потеряли свзяь с Землей и затерялись в космосе на века. В условиях постоянного кризиса выживать смогли только самые крепкие мужчины. Дожили они до наших дней только благодаря клонированию. Миллионы репликаций за десятки тысяч лет привели к физической и психической деградации.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-race_tab js-tabs-race-tab">
                        <div class="tabs-race_tab-content">
                            <div class="tabs-race_tab-content-image">
                                <img src="{{ static('img/race-robot.png') }}" alt="Титаны"/>
                            </div>
                            <div class="tabs-race_tab-content-text">
                                <p>Представители этой расы когда-то составляли сильнейшую из цивилизаций. Им было подвластно пространство и отчасти время – продолжительность их жизни превышала 1 000 000 лет. Возможность созерцать вечность сделала их холодными и неэмоциональными. Все, что их заботит – это сохранение баланса в хрупкой вселенной, который сегодня под угрозой из-за конфликта Псов Войны и Котиков. Вернув баланс, титаны снова смогут погрузиться в сон.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-race_tab js-tabs-race-tab">
                        <div class="tabs-race_tab-content">
                            <div class="tabs-race_tab-content-image">
                                <img src="{{ static('img/race-cat.png') }}" alt="Котики"/>
                            </div>
                            <div class="tabs-race_tab-content-text">
                                <p>Потомки сегодняшних землян, Котики - миролюбивая раса. Подробности того что случилось с землянами сейчас засекречены, и они утверждают, что всегда были котиками. Но по слухам, где-то в 22 веке во время величайшего события - распыления по всей Земле сыворотки от всех известных болезней - главный санитарный врач Земли случайно авторизовался в системе распыления своим Instagram аккаунтом.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fp-section fp-section__4" data-anchor="section-4">
        <div class="fp-section_content">
            <div class="game-rules">
                <p>Боевая система работает по принципу Камень-Ножницы-Бумага, где каждый ход игрок выбирает одну из трех атак и не знает о выборе противника до конца хода.</p>
                <p>В отличие от классической версии Камень-Ножницы-Бумага, в Galaxy Battle бой не заканчивается если атака одного игрока перекрыла атаку второго. Вместо этого, бой состоит из раундов, равных одному выбору атаки. Победа в раунде наносит урон здоровью противника. Чтобы победить в бою, вам надо побеждать раунд за раундом, пока здоровье противника не закончится.</p>
                <br/>
                <p>При выборе расы помните, что у каждой из них усилена одна из базовых атак. У Титанов это Метеоритный Дождь ("Камень"), у Котиков - Энергетическая Сеть ("Бумага"), у Псов Войны - Лазерный Луч ("Ножницы"). Расовые склонности и возможность прокачивать скилы в будущем будут влиять на вашу стратегию.</p>
                <br/>
                <p>Бой состоит из раундов. Начинается с выбора желаемой атаки, выбор оппонента вам заранее не известен. Взаимные эффекты атак: Энергетическая Сеть может выдержать Метеоритный Дождь, но бесполезна против Лазерного луча. Лазерный Луч, в то же время, бесполезен против Метеоритного Дождя.</p>
                <p>В верхней части экрана расположена линия здоровья, которое будет отниматься в случае неудачного выбора действия. Здоровье в бою не восполняется - битва продолжается, пока у одного из противников оно не достигнет нуля; восстановление его между боями займет некоторое время.</p>
                <p>В случае отказа от атаки в течение 10 секунд после начала боя, игроку присуждается поражение в раунде и он получает урон.</p>
                <p>Если оба игрока выбрали один и тот же тип атаки - раунд заканчивается ничьей. Если оба противника не проведут ни одной атаки за три раунда боя - обоим засчитывается поражение в бою с 0 очков и здоровья.</p>
                <br/>
                <p>Победы в бою позволяют подниматься по уровням - вместе с новым уровнем появляется возможность усилить одну из атак, либо увеличить количество очков здоровья. Успешное использование улучшенных атак будет наносить оппонентам повышенный урон.</p>
            </div>
        </div>
    </div>
    <div class="fp-section fp-section__6" data-anchor="section-6">
        <div class="fp-section_content">
            <div class="front-news">
                <div class="front-news_item js-front-news-item active">
                    <div class="front-news_item-header js-front-news-header">
                        <span class="front-news_item-title">ПОЕХАЛИ</span>
                        <span class="front-news_item-date">16 сентября 2017</span>
                    </div>
                    <div class="front-news_article">
                        <p>
                            Виртуальная игровая студия "Game Of The Year 2017" сообщает, что 16 сентября 2017 в открытый доступ
                            поступил sci-fi action Galaxy Battle! Игра доступна на русском языке во всех современных браузерах
                            совершенно бесплатно!
                        </p>
                        <p>
                            Galaxy Battle это приключенческий пошаговый sci-fi файтинг с элементами RPG. Игрокам предстоит сражаться
                            друг с другом ради славы и денег в кровавом космическом реалити шоу, выбрав одну из трех фракций --
                            беспощадных Псов Войны, могучих Титанов или находчивых Котиков.
                        </p>
                        <p>
                            Виртуальная игровая студия "Game Of The Year 2017" это инициативная группа из 50 ветеранов индустрии,
                            никогда раньше не разрабатывавших игры, с общим опытом в игровой индустрии более трехсот лет.
                        </p>
                        <p>
                            #космоснаш
                        </p>
                    </div>
                </div>
                <div class="front-news_item js-front-news-item">
                    <div class="front-news_item-header js-front-news-header">
                        <span class="front-news_item-title">ПЕРВЫЕ В КОСМОСЕ</span>
                        <span class="front-news_item-date">16 сентября 2017</span>
                    </div>
                    <div class="front-news_article">
                        <p>
                            Galaxy Battle объявляет конкурс!
                            Хотите стать популярными? Хотите попасть в новостную ленту на сайте? Участвуйте в конкурсе! Правила
                            простые:
                        </p>
                        <ol>
                            <li>Сыграйте в игру <a href="http://goty.io">goty.io</a></li>
                            <li>Сделайте скрин победы в игре</li>
                            <li>Опубликуйте скрин на странице в соц.сети (vk, ok, facebook, instagram) с хэштегом #galaxybattle</li>
                        </ol>
                        <p>
                            И Всё! Уже на следующей неделе мы объявим победителя!
                        </p>
                    </div>
                </div>
            </div>
            <a class="anchor-to-about js-anchor-to-about" href="#">Legal Info</a>
        </div>
    </div>
    <div class="fp-section fp-section__5" data-anchor="section-5">
        <div class="fp-section_content">
            <div class="legal-info">
                <h2 class="legal-info_title">Galaxy Battle - браузерная игра, разработанная в рамках творческой инициативы Game Of The Year 2017.</h2>
                <p>Galaxy Battle не является коммерческим продуктом, распространяется бесплатно, не преследует цели извлечения прибыли или других выгод для своих создателей. Game Of The Year 2017 настаивает на не использовании игры Galaxy Battle и отдельных ее материалов в коммерческих целях третьими лицами.</p>
                <p>Вопросы и предложения организаторам Game Of The Year 2017 можно направлять по электронному адресу thegameoftheyear2017@gmail.com</p>
                <p class="legal-info_center legal-info_team-heading">Творческая группа Game Of The Year 2017:</p>

                <div class="legal-info-grid">
                    <div class="legal-info-grid_col">
                        <p class="legal-info_team">Организаторы и жюри</p>
                        <ul class="legal-info_team-list">
                            <li>Алексей Журба</li>
                            <li>Алена Дрозд</li>
                            <li>Константин Чибриков</li>
                            <li>Артем Здасюк</li>
                        </ul>
                    </div>
                    <div class="legal-info-grid_col">
                        <p class="legal-info_team">Game Design</p>
                        <ul class="legal-info_team-list">
                            <li>Владимир Терентьев</li>
                            <li>Дмитрий Липатников</li>
                            <li>Илья Лаевский</li>
                            <li>Алексей Нисс</li>
                            <li>Дмитрий Вульбрун</li>
                            <li>Регина Паршукова</li>
                        </ul>
                    </div>
                    <div class="legal-info-grid_col">
                        <p class="legal-info_team">Development</p>
                        <ul class="legal-info_team-list">
                            <li>Алексей Собещанский</li>
                            <li>Валерий Осовец</li>
                            <li>Александр Сыцевич</li>
                            <li>Дмитрий Емельяненко</li>
                            <li>Андрей Велент</li>
                            <li>Олег Мусаев</li>
                            <li>Дмитрий Сквира</li>
                            <li>Денис Шушкевич</li>
                            <li>Леонид Клочко</li>
                            <li>Сергей Кветко</li>
                            <li>Дмитрий Юрковец</li>
                            <li>Алексей Казакевич</li>
                            <li>Евгений Харитонов</li>
                            <li>Артем Барышев</li>
                            <li>Алена Свирид</li>
                            <li>Константин Козлов</li>
                            <li>Алексей Наземнов</li>
                            <li>Сергей Ильичев</li>
                        </ul>
                    </div>

                    <div class="legal-info-grid_col">
                        <p class="legal-info_team">Art</p>
                        <ul class="legal-info_team-list">
                            <li>Анастасия Бабкина</li>
                            <li>Роман Савлюков</li>
                            <li>Александр Ярошенко</li>
                            <li>Алена Тихомирова</li>
                            <li>Андрей Гаврилов</li>
                            <li>Денис Щелочков</li>
                            <li>Владимир Колтун</li>
                        </ul>
                    </div>
                    <div class="legal-info-grid_col">
                        <p class="legal-info_team">Copywriting</p>
                        <ul class="legal-info_team-list">
                            <li>Ярополк Раш</li>
                            <li>Виталий Гулло</li>
                            <li>Нина Дятловская</li>
                            <li>Иван Гулевич</li>
                            <li>Григорий Иванов</li>
                            <li>Виктор Шабалин</li>
                            <li>Кристина Жолик</li>
                            <li>Кира Горбунова</li>
                            <li>Виталий Бусько</li>
                            <li>Артур Карабанов</li>
                        </ul>
                    </div>
                    <div class="legal-info-grid_col">
                        <p class="legal-info_team">Promotion</p>
                        <ul class="legal-info_team-list">
                            <li>Дарья Купко</li>
                            <li>Екатерина Карпова</li>
                            <li>Антонина Чернышова</li>
                            <li>Елена Молчанова</li>
                            <li>Кирилл Борисов</li>
                            <li>Валерия Щукина</li>
                            <li>Алексей Брянцев</li>
                            <li>Александр Карпов</li>
                            <li>Наталья Казачок</li>
                            <li>Дмитрий Максимов</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
