{% extends "base/layout.html" %}

{% block body %}
<div class="map-page">
    <div class="game-way">
        <div class="leaderboard">
            <p class="leaderboard_small">Невероятно крутые</p>
            <h1 class="leaderboard_title">ЛИДЕРЫ ГАЛАКТИКИ</h1>
            <table class="leaderboard_table" border="1">
                <tr>
                    <th>№</th>
                    <th>Игрок</th>
                    <th>Раса</th>
                    <th>Уровень</th>
                    <th>Опыт</th>
                    <th>Количество боев</th>
                    <th>Количество побед</th>
                    <th>Процент побед</th>
               </tr>
               {% for user_rating in ratings %}
                   <tr>
                       <td>{{ user_rating.position }}</td>
                       <td>{{ user_rating.name }}</td>
                       <td>{{ user_rating.race }}</td>
                       <td>{{ user_rating.level }}</td>
                       <td>{{ user_rating.xp }}</td>
                       <td>{{ user_rating.battles }}</td>
                       <td>{{ user_rating.wins }}</td>
                       <td>{{ user_rating.ratio }}</td>
                   </tr>
               {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
