{% extends "base/layout.html" %}

{% block body %}
    <div id="levelup">
        <div class="lu-page">
            <div class="lu-page_col">
                <div class="lu-row lu-row__skills">
                    <div class="lu-row_col lu-row_col__skills-image">
                        <img src="http://via.placeholder.com/150x350" alt=""/>
                    </div>
                    <div class="lu-row_col lu-row_col__fluid">
                        <form action="" class="lu-form js-lu-form">
                            <div class="js-lu-form-group">
                                <div class="uk-width-expand">
                                    <div class="skill-state" style="width:20%;">
                                        уровень скилла
                                    </div>
                                </div>
                                <div class="uk-width-auto">
                                    <input class="js-lu-form-checkbox" type="checkbox">
                                </div>
                            </div>
                            <div class="js-lu-form-group">
                                <div class="uk-width-expand">
                                    <div class="skill-state">
                                        уровень скилла
                                    </div>
                                </div>
                                <div class="uk-width-auto">
                                    <input class="js-lu-form-checkbox" type="checkbox">
                                </div>
                            </div>
                            <div class="js-lu-form-group">
                                <div class="uk-width-expand">
                                    <div class="skill-state">
                                        уровень скилла
                                    </div>
                                </div>
                                <div class="uk-width-auto">
                                    <input class="js-lu-form-checkbox" type="checkbox">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="lu-page_col">
                <h1 class="uk-heading-primary uk-text-right">3 уровень</h1>
                <article class="uk-article">
                    <h1 class="uk-article-title">LOR</h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a,</p>
                </article>
                <div class="uk-flex uk-align-center">
                    <button class="btn btn-primary">GO GO GO</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
