{% extends "base/layout.html" %}

{% block body %}
<div class="map-page">
    <div class="game-way">
        <div class="game-way_planet">
            <img class="game-way_planet-image" src="http://via.placeholder.com/50x50" alt=""/>
            <div class="game-way_planet-text">
                description
            </div>
        </div>
        <div class="game-way_planet">
            <img class="game-way_planet-image" src="http://via.placeholder.com/50x50" alt=""/>
            <div class="game-way_planet-text">
                description
            </div>
        </div>
        <div class="game-way_planet">
            <img class="game-way_planet-image" src="http://via.placeholder.com/50x50" alt=""/>
            <div class="game-way_planet-text">
                description
            </div>
        </div>
        <div class="game-way_planet">
            <img class="game-way_planet-image" src="http://via.placeholder.com/50x50" alt=""/>
            <div class="game-way_planet-text">
                description
            </div>
        </div>
        <div class="game-way_planet">
            <img class="game-way_planet-image" src="http://via.placeholder.com/50x50" alt=""/>
            <div class="game-way_planet-text">
                description
            </div>
        </div>
        <div class="game-way_planet">
            <img class="game-way_planet-image" src="http://via.placeholder.com/50x50" alt=""/>
            <div class="game-way_planet-text">
                description
            </div>
        </div>
        <div class="game-way_planet">
            <img class="game-way_planet-image" src="http://via.placeholder.com/50x50" alt=""/>
            <div class="game-way_planet-text">
                description
            </div>
        </div>
        <div class="game-way_planet">
            <img class="game-way_planet-image" src="http://via.placeholder.com/50x50" alt=""/>
            <div class="game-way_planet-text">
                description
            </div>
        </div>
        <div class="game-way_planet">
            <img class="game-way_planet-image" src="http://via.placeholder.com/50x50" alt=""/>
            <div class="game-way_planet-text">
                description
            </div>
        </div>
        <div class="game-way_planet">
            <img class="game-way_planet-image" src="http://via.placeholder.com/50x50" alt=""/>
            <div class="game-way_planet-text">
                description
            </div>
        </div>
    </div>

    <div class="map-profile">
        <div class="map-profile_lvl">
            3 (уровень)
        </div>
        <div class="map-profile_card">
            <div class="map-profile_image">
                <img src="http://via.placeholder.com/100x200" alt=""/>
            </div>
            <div class="map-profile_skills">
                <div class="map-profile_hp">
                    <div class="map-profile_hp-label">HP</div>
                    <div class="map-profile_hp-bar">
                        <div class="map-profile_hp-value js-map-profile-hp-value" data-width="70"></div>
                    </div>
                </div>
                <div class="map-profile_skill">
                    <div class="map-profile_skill-label">skill <i class="icon-"></i></div>
                    <div class="map-profile_skill-value js-profile-skill-value" data-width="70">
                    </div>
                </div>
                <div class="map-profile_skill">
                    <div class="map-profile_skill-label">skill <i class="icon-"></i></div>
                    <div class="map-profile_skill-value js-profile-skill-value" data-width="20">
                    </div>
                </div>
                <div class="map-profile_skill map-profile_skill__main">
                    <div class="map-profile_skill-label">skill <i class="icon-"></i></div>
                    <div class="map-profile_skill-value js-profile-skill-value" data-width="30">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="map-chat">
        chat will be here...
    </div>
</div>
{% endblock %}