.leaderboard {
    padding: 100px 0 50px;
    &_title {
        text-align: center;
        font-size: 48px;
        color: #fff;
    }
    &_small {
        text-align: center;
        color: #ffc600;
        font-size: 18px;
    }
    &_table {
        margin: 50px auto 0;
        background: rgba(255, 255, 255, 0.9);
    }
    &_table td {
        padding: 5px;
    }
    &_table th {
        padding: 5px;
    }
}