.header {
    position: fixed;
    top: 0;
    height: 87px;
    width: 100%;
    background: rgba(0,0,0,0.6);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);

    &_container {
        max-width: 1366px;
        margin: 0 auto;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        padding: 20px;
        position: absolute;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    &_column {
        flex: 1 auto;

        &__left {
            text-align: left;
        }

        &__right {
            text-align: right;
        }
    }
}
