.hero {
  position: fixed;
  padding: 10px;
  height: 215px;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  z-index: 10;

  &_text {
    width: 60%;
    color: #fff;
    font-size: 15px;
    margin-top: -6px
  }
  &_button {
    text-align: right;
  }
}

.hero-stats {
  width: 40%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  &_image{
    width: 50%;
  }
  &_description{
    width: 50%;
    box-sizing: border-box;
    padding-left: 40px;
  }
  &_radio {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
  }
  &_skill {
    position: relative;
    max-width: 100%;
    height: 20px;
    background-color: #fff;
    margin-bottom: 10px;

    &:after {
      content: '';
      position: absolute;
      left: -25px;
      top: 50%;
      transform: translateY(-50%);
      height: 20px;
      width: 20px;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: 0 50%;
    }

    &__skill {
      &:after {
          background-image: url(/static//img/small-cap.png);
      }
    }
    &__chain {
      &:after {
          background-image: url(/static//img/small-chain.png);
      }
    }
    &__lazer {
      &:after {
          background-image: url(/static//img/small-lazer.png);
      }
    }
    &__fireball {
      &:after {
          background-image: url(/static//img/small-fireball.png);
      }
    }
    &__cup {
      &:after {
          background-image: url(/static//img/small-cup.png);
      }
    }
    &__health {
      &:after {
          background-image: url(/static//img/small-health.png);
      }
    }
  }
}
