.overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,.8);

    &.is-open {
        display: block;
    }

    &-position-center {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        display: table;
        max-width: 100%;
    }

    &-content {
        &_title {
            margin-bottom: 40px;
        }

        &_button-section {
            text-align: center;
        }
    }
}