.hero {
  position: fixed;
  padding: 10px;
  height: 215px;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  z-index: 10;
  &_text {
    width: 60%;
    color: #fff;
    font-size: 15px;
    margin-top: -6px
  }
  &_button {
    text-align: right;
  }
}

.hero-stats_description {
  position: relative;
  &.light {
    background-color: rgba(red, 0.5);
  }
  .pluses {
    position: absolute;
    right: -40px;
    top: 0;
    .plus {
      position: relative;
      height: 20px;
      width: 20px;
      text-align: center;
      background-color: white;
      border-radius: 120px;
      margin-bottom: 10px;
      line-height: 20px;
      animation-name: blink;
      animation-duration: 0.3s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
    @keyframes blink {
      from {
        background-color: rgba(red, 0.5);
        color: white;
      }
      to {
        background-color: white;
        color: red;
      }
    }
  }
}

.hero-stats_skill {
  position: relative;
  margin-bottom: 10px;
}

.plus {
  font-size: 20px;
  color: red;
  cursor: pointer;
  transition: ease 0.3s opacity;
  position: absolute;
  right: 3px;
  top: 0px;
  font-weight: bold;
  line-height: 20px;
  &:hover {
    opacity: 0.8;
  }
}

.hero-stats {
  width: 40%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  &_image {
    width: 50%;
  }
  &_image>img {
    width: 100%;
  }
  &_description {
    width: 50%;
    box-sizing: border-box;
    padding-left: 50px;
  }
  &_radio {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
  }
  &_skill {
    position: relative;
    max-width: 100%;
    height: 20px;
    background-color: #fff;
    margin-bottom: 10px;
    &:after {
      content: '';
      position: absolute;
      left: -40px;
      top: 50%;
      transform: translateY(-50%);
      height: 30px;
      width: 30px;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: 0 50%;
    }
    &__skill {
      &:after {
        background-image: url(/static/assets/hero/small-cap.png);
      }
    }
    &__chain {
      &:after {
        background-image: url(/static/assets/hero/small-chain.png);
      }
    }
    &__lazer {
      &:after {
        background-image: url(/static/assets/hero/small-lazer.png);
      }
    }
    &__fireball {
      &:after {
        background-image: url(/static/assets/hero/small-fireball.png);
      }
    }
    &__cup {
      &:after {
        background-image: url(/static/assets/hero/small-cup.png);
      }
    }
    &__health {
      &:after {
        background-image: url(/static/assets/hero/small-health.png);
      }
    }
  }
}
