<div class="hero">
  <div class="hero-stats">
    <div class="hero-stats_image">
      <img alt="" [attr.src]="this.getRaceImage()" />
    </div>
    <div class="hero-stats_description">
      <div class="stats">
        <div class="hero-stats_skill hero-stats_skill__chain" [style.width]="this.getMyPaper()/10*100+'%'">
          <!-- {{this.getMyPaper()}} -->


        </div>
        <div class="hero-stats_skill hero-stats_skill__lazer" [style.width]="this.getMyScissors()/10*100+'%'">


        </div>
        <div class="hero-stats_skill hero-stats_skill__fireball" [style.width]="this.getMyStone()/10*100+'%'">


        </div>
        <div class="hero-stats_skill hero-stats_skill__health" [style.width]="this.getMyHealth()/10*100+'%'">


        </div>
        <div class="hero-stats_skill hero-stats_skill__cup" [style.width]="this.getMyWins()/this.api.needWins[this.api.level]*100+'%'">

        </div>
      </div>

      <div class="pluses" *ngIf="this.api.free_xp!=0">
        <div class="plus" (click)="this.plus(0)" *ngIf="this.api.free_xp!=0">+</div>
        <div class="plus" (click)="this.plus(1)" *ngIf="this.api.free_xp!=0">+</div>
        <div class="plus" (click)="this.plus(2)" *ngIf="this.api.free_xp!=0">+</div>
        <div class="plus" (click)="this.plus(3)" *ngIf="this.api.free_xp!=0">+</div>
      </div>

      <!-- <button (click)="addExp()" *ngIf="this.api.free_xp!=0">ПРОКАЧАТЬ</button> -->
    </div>
  </div>

</div>
