<div id="battle" class="hidden" style="background-image:url(/static/assets/images/battle/game_back_1.png)">
  <div class="game">

    <!-- left user -->
    <div class="game_user-area game_user-area__left">
      <div class="game_user-info">
        {{this.api.userName}}
        <div class="hp-bar">
          <div class="hp-bar_fill" [style.width]="this.getMyPercent()">{{this.getMyHealth()}}</div>
        </div>
      </div>

      <div class="game_user-history">
        <div class="wrapper">
          <ng-container *ngFor="let item of this.getHistory()[0]">
            <div class="game_user-history-item" [style.background-image]="this.getBackgroundFromVal(item)"></div>
          </ng-container>
        </div>
        <!-- <div class="game_user-history-item" style="background-image:url(/static/assets/images/battle/fireball.png)"></div>
        <div class="game_user-history-item" style="background-image:url(/static/assets/images/battle/chain.png)"></div>
        <div class="game_user-history-item" style="background-image:url(/static/assets/images/battle/chain.png)"></div>
        <div class="game_user-history-item" style="background-image:url(/static/assets/images/battle/fireball.png)"></div>
        <div class="game_user-history-item" style="background-image:url(/static/assets/images/battle/lazer.png)"></div> -->
      </div>

      <div class="game_action-block">
        <div class="game_pers">
          <div class="rightPerson" #hero></div>
        </div>
      </div>


      <div class="game_user-skills">
        <div class="game_user-skill" style="background-color:#4790ff" [style.width]="this.getMyScissors()/10*100+'%'">
          <div class="game_user-skill_line" style="background-image:url(/static/assets/images/battle/lazer.png)"></div>
        </div>
        <div class="game_user-skill" style="background-color:#ff5500" [style.width]="this.getMyStone()/10*100+'%'">
          <div class="game_user-skill_line" style="background-image:url(/static/assets/images/battle/fireball.png)"></div>
        </div>
        <div class="game_user-skill" style="background-color:#00ff8a" [style.width]="this.getMyPaper()/10*100+'%'">
          <div class="game_user-skill_line" style="background-image:url(/static/assets/images/battle/chain.png)"></div>


        </div>
      </div>


    </div>
    <!-- actions block-->
    <div class="game_user-actions-wrapper">
      <div class="game_user-actions-wrapper2">
        <div class="game_user-actions-border">
          <div class="game_user-actions" *ngIf="!this.api.moveMaked">

            <div class="item1 item" style="background-image:url(/static/assets/images/battle/round-lazer.png)" (click)="this.move(2)">
            </div>
            <div class="item2 item" style="background-image:url(/static/assets/images/battle/round-chain.png)" (click)="this.move(1)">
            </div>
            <div class="item3 item" style="background-image:url(/static/assets/images/battle/round-fireball.png)" (click)="this.move(0)">
            </div>
          </div>
        </div>
      </div>
      <div class="game_user_qwest" [style.background-image]="this.getLastEnemy()"></div>
    </div>
    <!-- right user -->
    <div class="game_user-area game_user-area__right">
      <div class="game_user-info">
        {{this.api.enemy.nickname}}
        <div class="hp-bar">
          <div class="hp-bar_fill" [style.width]="this.getEnemyPercent()">{{this.getEnemyHealth()}}</div>
        </div>
      </div>

      <div class="game_user-history">
        <div class="wrapper">
          <ng-container *ngFor="let item of this.getHistory()[1]">
            <div class="game_user-history-item" [style.background-image]="this.getBackgroundFromVal(item)"></div>
          </ng-container>
        </div>
      </div>

      <div class="game_action-block">
        <div class="game_pers">
          <div class="rightPerson" #enemy></div>
        </div>
      </div>

      <div class="game_user-skills">
        <div class="game_user-skill" style="background-color:#4790ff" [style.width]="this.getEnemyScissors()/10*100+'%'">
          <div class="game_user-skill_line" style="background-image:url(/static/assets/images/battle/lazer.png)"></div>
        </div>
        <div class="game_user-skill" style="background-color:#ff5500" [style.width]="this.getEnemyStone()/10*100+'%'">
          <div class="game_user-skill_line" style="background-image:url(/static/assets/images/battle/fireball.png)"></div>
        </div>
        <div class="game_user-skill" style="background-color:#00ff8a" [style.width]="this.getEnemyPaper()/10*100+'%'">
          <div class="game_user-skill_line" style="background-image:url(/static/assets/images/battle/chain.png)"></div>
        </div>
      </div>

    </div>
    <div class="game_timer">
      {{this.api.getSeconds()}}
    </div>
  </div>
</div>
